""" IdeaVimrc

set incsearch
set ignorecase
set smartcase

set incsearch
set hlsearch
nnoremap <Esc><Esc> :nohlsearch<CR><ESC>

set laststatus=2
set cmdheight=2
set showcmd

set cinoptions+=:0

set display=lasttline

" use global clipboard
set clipboard=unnamed


nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $

nnoremap gj j
nnoremap gk k
nnoremap j gj
nnoremap k gk
vnoremap gj j
vnoremap gk k
vnoremap j gj
vnoremap k gk

nnoremap m %
nnoremap % m

nnoremap <C-S-h> :action PreviousTab<CR>
nnoremap <C-S-l> :action NextTab<CR>

nnoremap <C-/><C-/> :action CommentByLineComment<CR>

nnoremap <C-r> :redo<CR>

"
" nnoremap x "_x
" vnoremap x "_x
" 
" "
" nnoremap yy "+yy
" vnoremap y "+y
" nnoremap p "+p
" vnoremap p "+p
" nnoremap P "+P
" vnoremap P "+P
